* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #9bdcec, #9cf0b1, #9bdcec, );
  background: linear-gradient(to top, #9bdcec, #9cf0b1, #9bdcec);
  width: 100vw;
  height: 100vh;
}

.home-contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 9px gray;
  padding: 15px;
  width: 40vw
}

.title {
  color: green
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%
}

.city-contant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  width: 100%
}

.logo {
  width: 150px;
  height: 100px;
}

.weather-info-img {
  width: 35px;
  height: 35px;
  border: .5px solid lightgray;
}

.weather-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-top: .3px solid lightgray;
  padding: 15px;
  width: 100%
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 10px;
  align-items: center;
}

.weather-img-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-contant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 20px;
}

input {
  outline: none;
  border: none;
  padding-left: 5px;
  border: 1px solid gray;
  color: black;
  margin-left: 5px;
  box-sizing: border-box;
}

.Search-Icon {
  background-color: #c5c2c2;
  color: green;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
}